h1{
    color: red;
    text-align: center;
    text-decoration: black  wavy underline;
    text-transform: uppercase;
}
p{
    color: blue;

}
button{
    color: darkmagenta;
    background-color: burlywood;
}
body{
    background-color: gray;
}

a{
    text-decoration: none;
}

#d1{
    font-weight: bolder;
    font-size: 35px;
}
.list{
    font-weight: normal;
}

#one{
    font-family:Arial, Helvetica, sans-serif;
}
#two{
    font-family: monospace;
}