div{
    background-color: rgb(120, 107, 132);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

a{
    text-decoration: none;
    color: rgb(239, 238, 238);
    background-color: rgb(10, 10, 10);
    border: 2px solid white;
}
li{
    list-style: none;
    display: inline;
    margin: 56px;
}

.outter{
    width:500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkorange;
    border: 2px solid black;
    margin:20px;

}
.inner{
    display: inline-block;
    background-color: crimson;
    width:50%;
    height: 50%;
    border: 2px solid black;
}