h1{
    color: red;
    text-align: center;
    text-decoration: black  wavy underline;
}
p{
    color: blue;

}
button{
    color: darkmagenta;
    background-color: burlywood;
}
body{
    background-color: gray;
}

a{
    text-decoration: none;
}