body{
    background-color: burlywood;
}

#box1{
    height:100px;
    width: 100px;
    background-color: crimson;
    border: 2px solid black;
    padding:2px;
    margin:2px;
    display: inline-block;
    position:static;
    top:20px;
    background-image: url("https://images.unsplash.com/photo-1529778873920-4da4926a72c2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YW5pbWFsc3xlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}
#box2{
    height:100px;
    width: 100px;
    background-color: rgb(133, 199, 18);
    border: 2px solid black;
    padding:2px;
    margin: 2px;
    display: inline-block;
    position:relative;
    top:20px;
    background-image: url("https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YW5pbWFsc3xlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#box3{
    height:100px;
    width: 100px;
    background-color: rgb(19, 194, 182);
    border: 2px solid black;
    padding:2px;
    margin: 2px;
    display: inline-block;
    position: absolute;
    top:20px;
    background-image: url("https://images.unsplash.com/photo-1497206365907-f5e630693df0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGFuaW1hbHN8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#box4{
    height:100px;
    width: 100px;
    background-color: rgb(80, 13, 111);
    border: 2px solid black;
    padding:2px;
    margin: 2px;
    display: inline-block;
    position: fixed;
    right: 10px;
    background-image: url("https://images.unsplash.com/photo-1564349683136-77e08dba1ef7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGFuaW1hbHN8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}