div{
    background-color: rgb(120, 107, 132);
}

.container{
    display: flex;
    flex-direction: row;

}

a{
    text-decoration: none;
    color: rgb(239, 238, 238);
    background-color: rgb(10, 10, 10);
    border: 2px solid white;
}
li{
    list-style: none;
    display: inline;
}