div{
    height:500px;
    width:500px;
    background-color:greenyellow;
    border: 2px solid red;
}
@media (width:600px) {
    div{
        background-color: pink;
    }
}

@media(min-width:600px){           
    div{
        background-color: orangered;
    }
}

@media(max-width:300px){
    div{
        background-color: blueviolet;
    }
}
