*{
    padding: 0;
    margin: 0;
}

#navbar{
    height:70px;
    background-color: rgb(249, 179, 75);
    margin-top: 0px;
}
img{
    width:90px;
    height: 40px;
    border:3px solid black;
    border-radius: 25%;
    
}
a{
    margin-right:200px;
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.content-box{
    height: 100px;
    width: 100px;
    margin: 12px;
    border: 3px solid black;
    display: inline-block;
    background-color: rgb(244, 187, 56);
}
#content{
    height: 500px;
}
footer{
    background-color: orange;
    text-align: center;
}